/**

 layui官网
 By 贤心

*/


/* 头部 */
.header{height: 60px; border-bottom: 1px solid #404553; background-color: #393D49; color: #fff;}
.logo{position: absolute; left: 0; top: 16px;}
.meau{position: absolute; right: 0; top: 16px; line-height:30px; font-weight: 300;}
.meau a{display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.meau a{position: relative; padding:0 20px; margin:0 10px; color: #fff; font-size: 14px;}
.meau a:hover{opacity: 0.8; transition: all .5s; -webkit-transition: all .5s}
.meau a.this::after{content: ''; position: absolute; left: 0; bottom: -15px; width: 100%; height: 5px; background-color: #5FB878;}


.site-banner{position: relative; height: 600px; text-align: center; background-color: #393D49;}
.site-zhifeiji{position: relative; padding-top: 25px; height: 220px; color: #5FB878; font-size: 200px;}
.site-desc{position: relative; height: 70px; margin-top: 25px;  background: url(../images/layui/desc.png) center no-repeat;}
.site-desc cite{position: absolute; bottom: -40px; left: 0; width: 100%; color: #999;}
.site-download{margin-top: 80px; font-size: 0;}
.site-download a{position: relative; padding: 0 45px 0 90px; height: 60px; line-height: 60px; border: 1px solid #464B5B; font-size: 24px; color: #ccc; transition: all .5s; -webkit-transition: all .5s;}
.site-download a:hover{border: 1px solid #778097; color: #fff; border-radius: 30px; }
.site-download a cite{position: absolute; left: 45px; font-size: 30px;}
.site-version{margin-top: 15px; color: #ccc; font-size: 12px;}

.github-btn{position: absolute; left: 50%; bottom: 30px; margin-left: -40px; border: none;}


.footer{height: 150px; line-height: 150px; text-align: center; background-color: #eee; font-size: 20px; font-weight: 300; color:#666;}



/* 临时 */
.alone{width:730px; margin:200px auto;}
.alone ul{margin-left:1px; font-size:0;}
.alone li{display:inline-block; width:181px; font-size:16px; text-align:center; line-height:80px; margin:0 1px 1px 0; background-color:#393D49; color:#fff;}
.alone li:hover{opacity:0.8;}
.alone li a{display:block; color:#fff;}